* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	background-color: rgb(14, 14, 32);
}

nav {
	background-color: #08182c;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
}

nav a:hover {
	background-color: #2b2929;
}
main {
	display: flex;
	padding: 50px;
	justify-content: center;
}
.content {
	color: white;
}